<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>add</title>
</head>
<body>
<form th:action="@{/passion/add}" th:object="${personne}" method="post">
    <label for="nom">Nom : </label>
    <input id="nom" type="text" th:field="*{nom}">
    <label for="prenom">Prenom : </label>
    <input id="prenom" type="text" th:field="*{prenom}">
    <label for="age">Age : </label>
    <input id="age" type="number" th:field="*{age}">
    <label for="race">Race : </label>
    <select th:field="*{race}">
        <option th:value="Humain" th:text="Humain">Humain</option>
        <option th:value="Elfe" th:text="Elf">Elf</option>
        <option th:value="Demi-Elfe" th:text="Demi-Elf">Demi-Elf</option>
        <option th:value="Nain" th:text="Nain">Nain</option>
        <option th:value="Gythianki" th:text="Gythianki">Gythianki</option>
        <option th:value="Demi-Orc" th:text="Demi-Orc">Demi-Orc</option>
        <option th:value="Draw" th:text="Draw">Draw</option>
        <option th:value="Tiflyn" th:text="Tiflyn">Tiflyn</option>
        <option th:value="Gnome" th:text="Gnome">Gnome</option>
        <option th:value="Halflin" th:text="Halflin">Halflin</option>
    </select>

    <fieldset>
        <legend>Expertise(s)</legend>
        <label>
            <span>Escamotage</span>
            <input type="checkbox" th:field="*{passions}" value="Escamotage">
        </label>
        <label>
            <span> / Athlétisme</span>
            <input type="checkbox" th:field="*{passions}" value="Athlétisme">
        </label>
        <label>
            <span> / Arcane</span>
            <input type="checkbox" th:field="*{passions}" value="Arcane">
        </label>
        <label>
            <span> / Acrobaties</span>
            <input type="checkbox" th:field="*{passions}" value="Acrobaties">
        </label>
        <label>
            <span> / Discrétion</span>
            <input type="checkbox" th:field="*{passions}" value="Discrétion">
        </label>
        <label>
            <span> / Investigation</span>
            <input type="checkbox" th:field="*{passions}" value="Investigation">
        </label>

        <br>

        <label>
            <span> Histoire</span>
            <input type="checkbox" th:field="*{passions}" value="Histoire">
        </label>
        <label>
            <span> / Nature</span>
            <input type="checkbox" th:field="*{passions}" value="Nature">
        </label>
        <label>
            <span> / Religion</span>
            <input type="checkbox" th:field="*{passions}" value="Religion">
        </label>
        <label>
            <span> / Dressage</span>
            <input type="checkbox" th:field="*{passions}" value="Dressage">
        </label>
        <label>
            <span> / Intuition</span>
            <input type="checkbox" th:field="*{passions}" value="Intuition">
        </label>
        <label>
            <span> / Médecine</span>
            <input type="checkbox" th:field="*{passions}" value="Médecine">
        </label>

        <br>

        <label>
            <span> Perception</span>
            <input type="checkbox" th:field="*{passions}" value="Perception">
        </label>
        <label>
            <span> / Survie</span>
            <input type="checkbox" th:field="*{passions}" value="Survie">
        </label>
        <label>
            <span> / Intimidation</span>
            <input type="checkbox" th:field="*{passions}" value="Intimidation">
        </label>
        <label>
            <span> / Persuasion</span>
            <input type="checkbox" th:field="*{passions}" value="Persuasion">
        </label>
        <label>
            <span> / Représentation</span>
            <input type="checkbox" th:field="*{passions}" value="Représentation">
        </label>
        <label>
            <span> / Tromperie</span>
            <input type="checkbox" th:field="*{passions}" value="Tromperie">
        </label>

    </fieldset>
    <fieldset>
        <legend>sexe</legend>
            <label for="m">M :</label>
            <input id="m" th:type="radio" value="M" th:field="*{sexe}">
            <label for="f">F :</label>
            <input id="f" th:type="radio" value="F" th:field="*{sexe}">
    </fieldset>

    <label for="classe">Classe : </label>
    <select th:field="*{metier}">
        <option th:value="Magicien" th:text="Magicien">Magicien</option>
        <option th:value="Bard" th:text="Bard">Bard</option>
        <option th:value="Paladin" th:text="Paladin">Paladin</option>
        <option th:value="Moine" th:text="Moine">Moine</option>
        <option th:value="Barbare" th:text="Barbare">Barbare</option>
        <option th:value="Guerrier" th:text="Guerrier">Guerrier</option>
        <option th:value="Roublard" th:text="Roublard">Roublard</option>
        <option th:value="Druid" th:text="Druid">Druid</option>
        <option th:value="Clerc" th:text="Clerc">Clerc</option>
        <option th:value="Ensorceleur" th:text="Ensorceleur">Ensorceleur</option>
        <option th:value="Occultiste" th:text="Occultiste">Occultiste</option>
        <option th:value="Rodeur" th:text="Rodeur">Rodeur</option>
    </select>
    <br>
    <br>
    <input type="submit" value="Valider">
</form>
</body>
</html>