<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>La passion</title>
</head>
<body>
    <h1>Liste personne passionante :</h1>
    <div th:each="personne:${personne}">
        <span th:text="${personne.getNom()}"></span>
        <span>/</span>
        <span th:text="${personne.getPrenom()}"></span>
        <span>/</span>
        <span th:text="${personne.getAge()}"></span>
        <span>/</span>
        <span th:text="${personne.getRace()}"></span>
        <span>/</span>
        <span th:text="${personne.getSexe()}"></span>
        <span>/</span>
        <span th:text="${personne.getMetier()}"></span>
        <span>/ Liste des capacitées :</span>
        <span th:each="passion:${personne.getPassions()}">
            <span>-</span>
            <span th:text="${passion}"></span>
            </span>
        </div>
    </div>
    <br>
    <a href="/passion/add">Ajouter des personne passionante</a>
</body>
</html>